.top-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}

.heading-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
    margin: 50px 50px;
}

@media screen and (max-width:480px) {
    .reviews-container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.btn {
    background-image: linear-gradient(#0B0B09, #1F1F1F);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 25px;
}

.btn:hover {
    background-image: linear-gradient(#3D3D3D, #0B0B09);
}